.fiche{
  display: flex;
  justify-content: space-between ;
  align-items: center;
  flex-wrap: wrap;
  margin: 70px 0;
}

.fiche-information{
  text-align: left;
  width: 45%;

}

.fiche-image{
  width: 45%;
  background-color: var(--secondary-color);
  padding: 30px 0;
  border-radius: 0 50px 50px 0;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(126, 125, 125, 0.8) -6px -2px 16px 0px;
}

.fiche-image img {
  width: 400px;
  height: 300px;
  border-radius: 30px;
  /* object-fit: cover; */

}