.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  padding: 10px 20px;
  
}

.header .header-main span a {
  text-decoration: none;
  color: var(--primary-color);
}

.header nav span a:hover{
  color: var(--secondary-color);
}

.header .header-logo{
  width: 120px;
}

.header .header-main {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  width: 450px;
}

.header .header-social-media {
  width: 150px;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
}